body {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 200px;
}

.card {
    width: 400px;
    /* 
    Challenge:
    Replace the two margin properties with a 
    single margin shorthand.
    */
    margin: 0 auto;

    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #48BFE3;
    color: #2b2839;
    border-bottom: 6px solid #5E60CE;
}

.border-blue {
    border: 1px dashed blue;
    border-radius: 200px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


